<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="myself"><%= username %></title>

</head>
<body>
   <div id="dtext">
  
   </div> 
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/index.js"></script>
</html>